.postcreator {
    display: flex;
    margin-top: 30px;
    flex-direction: column;
    border-radius: 15px;
    align-items: center;
    background-color: white;
    width: 100%;
    box-shadow: 0px 5px 7px -7px rgba(0, 0, 0, 0.75);
}

.postcreator_top {
    display: flex;
    border-bottom: 1px solid #eff2f5;
    padding: 15px;
}

.postcreator_bottom {
    display: flex;
    flex: 1;
    border-bottom: 1px solid #eff2f5;
    padding-bottom: 15px;
    padding: 15px;
}

.postcreator_top > form {
    flex: 1;
    display: flex;
    align-items: center;
    background-color: #eff2f5;
    padding: 10px;
    margin-left: 10px;
    border-radius: 999px;
}

.postcreator_top > form > input {
    border: none;
    border-radius: 999px;
    background-color: #eff2f5;
    margin: 0 10px;
    padding: 5px 20px;
    outline-width: 0px;
}

.postcreator_top > input {
    outline-width: 0;
    flex: 1;
}

.postcreator_top > form > button {
    display: none;
}

.postcreator_button {
    display: flex;
    justify-content: space-evenly;
}

.postcreator_bottom {
    display: flex;
    justify-content: space-evenly;
}

.pcb_button {
    padding: 20px;
    display: flex;
    align-items: center;
    color: gray;
    margin: 5px;
}

.pcb_button > h4 {
    font-size: medium;
    margin-left: 10px;
}

.pcb_button:hover {
    cursor: pointer;
    background-color: #eff2f5;
    border-radius: 20px;
}